.page-view {
  @include page-view_background('../images/blog-background.jpg', 356);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;


  &__info {
    background-color: white;
    border-radius: 37px 37px 0px 0px;
    padding: 41px 78px;
  }

  &__heading {
    font-size: 50px;
    line-height: 125%; // 62.5px
  }

  &__breadcrumbs {
    list-style: none;
    display: flex;
    justify-content: center
  }

  &__breadcrumb {
    @extend %textAdditional;
    letter-spacing: 0.22px;
  }

  &__breadcrumbs li:not(:last-child)::after {
    display: inline-block;
    content: "/";
    // padding-left: 8px;
    padding-right: 8px;
  }
}

.post {
  margin-bottom: 150px;

  &__heading {
    font-size: 50px;
    line-height: 125%; // 62.5px;
    margin-bottom: 27px;
  }

  &__block {
    display: flex;
    align-items: center;
    gap: 65px;
    border-radius: 62px;
    border: 1px solid #E7E7E7;
    box-shadow: 0px 10px 30px 0px rgba(255, 255, 255, 0.25);
    padding: 22px;
    transition: background-color .2s;

    & svg circle {
      transition: fill .2s;
    }
  }

  &__img {
    border-radius: 50px;
  }

  &__info {
    max-width: 489px;
  }

  &__title {
    font-size: 25px;
    line-height: 125%; // 31.25px
    letter-spacing: 0.5px;
    margin-bottom: 22px;
  }

  &__text {
    @extend %textAdditional;
    letter-spacing: 0.22px;
    margin-bottom: 41px;
  }

  &__additional {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @extend %textAdditional;
  }
}

.news {
  &__heading_left {
    text-align: left;
  }

  &__pagination {
    margin-top: 51px;
    display: flex;
    justify-content: center;
    gap: 20px;
  }

  &__page-number {
    height: 52px;
    width: 52px;
    color: #292F36;
    font-family: 'Jost';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; // 24px
    text-transform: capitalize;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #CDA274;
    transition: background-color .2s;
  }

  &__page-number_current {
    background-color: #F4F0EC;
    border: 0;
  }

  &__page-next svg circle {
    transition: all 2s;
  }
}