@media (any-hover: hover) {

  // Blog
  .page-view {
    &__breadcrumb:hover a {
      color: $brandColor;
    }
  }

  .post {
    &__block:hover {
      background-color: #F4F0EC;

      & svg circle {
        fill: white;
      }
    }
  }

  .news {
    &__page-number:hover {
      background-color: $brandColor;
    }

    &__page-next:hover svg circle {
      fill: $brandColor;
    }
  }

  // Blog details
  .blog {
    &__breadcrumb:hover a {
      color: $brandColor;
    }
  }

  .tags {

    &__tag:hover {
      background-color: $fontColorMain;
      color: white;
    }
  }
}