@media (any-hover: hover) {
  .header {
    &__link:hover {
      color: $brandColor;
    }
  }

  .index-main {
    &__link:hover {
      background-color: white;
      color: $brandColor;
    }
  }

  .projects {
    &__block:hover svg path {
      stroke: white;
    }

    &__block:hover svg circle {
      fill: $brandColor;
    }
  }
}