.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;

  &__homelink {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 40px;
    line-height: 125%;
  }

  &__links {
    display: flex;
    gap: 48px;
  }

  &__link {
    @extend %textAdditional;
    font-size: 20px;
    transition: color .1s;
  }
}

.index-main {
  background-image: url(../images/index-main_background.png);
  border-radius: 50px;
  background-repeat: no-repeat;
  height: 758px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 57px;
  margin-bottom: 96px;
  padding-left: 52px;
  padding-right: 52px;

  &__heading {
    font-size: 65px;
    line-height: 125%; // 81.25px
    max-width: 434px;
    margin-bottom: 18px;
  }

  &__text {
    @extend %textAdditional;
    letter-spacing: 0.22px;
    margin-bottom: 21px;
    max-width: 434px;
  }

  &__link {
    display: flex;
    align-items: center;
    gap: 10px;
    width: fit-content;
    padding: 26px 49px 26px 48px;
    border-radius: 18px;
    background: $fontColorMain;
    box-shadow: 0px 10px 20px 0px rgba(192, 192, 192, 0.35);
    font-family: 'Jost';
    color: white;
    font-size: 18px;
    font-weight: 600;
    line-height: 125%; // 22.5px
    letter-spacing: 0.36px;
    transition: all .3s;
  }
}

.projects {
  margin-bottom: 96px;

  &__header {
    text-align: center;
  }

  &__heading {
    font-size: 50px;
    line-height: 125%; // 62.5px
    letter-spacing: 1px;
  }

  &__text {

    @extend %textAdditional;
    letter-spacing: 0.22px;
    margin: 0 auto;
    max-width: 737px;
    margin-bottom: 93px;
  }

  &__content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(547px, 1fr));
    column-gap: 100px;
    row-gap: 56px;
  }

  &__block {
    width: 547px;
    display: block;
  }

  &__block:first-child>img {
    border-radius: 0 80px 0 0;
  }

  &__block:nth-child(2)>img {
    border-radius: 80px 0 0 0;
  }

  &__block:nth-child(3)>img {
    border-radius: 0 0 80px 0;
  }

  &__block:last-child>img {
    border-radius: 0 0 0 80px;
  }

  &__block svg {

    path,
    circle {
      transition: all .2s;
    }
  }

  &__img {
    margin-bottom: 24px;
  }

  &__info {
    display: flex;
    justify-content: space-between;
  }

  &__project-name {
    font-size: 25px;
    line-height: 125%; // 31.25px
    letter-spacing: 0.5px;
  }

  &__category {
    @extend %textAdditional;
    letter-spacing: 0.22px;
  }

}

.results {
  padding-top: 151px;
  padding-bottom: 151px;
  background-color: #F4F0EC;

  &__block {}

  &__heading {
    color: #CDA274;
    font-size: 85px;
    line-height: 125%; // 106.25px
    letter-spacing: 1.7px;
  }

  &__text {
    @extend %textAdditional;
    letter-spacing: 0.22px;
  }
}