.news {
  margin-bottom: 96px;

  &__header {
    margin-bottom: 52px;
  }

  &__heading {
    text-align: center;
    font-size: 50px;
    line-height: 125%; // 62.5px
    letter-spacing: 1px;
  }

  &__text {
    @extend %textAdditional;
    text-align: center;
    letter-spacing: 0.22px;
    max-width: 811px;
    margin: 0 auto;
  }

  &__blocks {
    display: flex;
    flex-wrap: wrap;
    gap: 27px;
  }

  &__block {
    display: block;
    width: 382px;
    box-sizing: border-box;
    border: 1px solid #E7E7E7;
    border-radius: 62px;
    padding: 21px;
    box-shadow: 0px 10px 30px 0px rgba(255, 255, 255, 0.25);
    transition: background-color .3s;

    & svg circle {
      transition: fill .3s;
    }
  }

  &__picture {
    position: relative;
    margin-bottom: 21px;
  }

  &__img {
    border-radius: 62px 62px 0 0;
  }

  &__sticker {
    position: absolute;
    left: 20px;
    bottom: 20px;
    border: 0;
    border-radius: 8px 8px 8px 0;
    background-color: white;
    padding: 8px;
    @extend %textAdditional;
    font-size: 16px;
    letter-spacing: 0.16px;
    text-transform: capitalize;
  }

  &__description {
    font-size: 25px;
    line-height: 125%; // 31.25px
    letter-spacing: 0.5px;
    margin-bottom: 30px;
    max-width: 305px;
  }

  &__additional {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__date {
    @extend %textAdditional;
    font-size: 16px;
    letter-spacing: 0.16px;
    text-transform: capitalize;
  }
}