.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;

  &__homelink {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 40px;
    line-height: 125%;
  }

  &__links {
    display: flex;
    gap: 48px;
  }

  &__link {
    font-family: 'Jost';
    font-size: 20px;
    line-height: 125%; // 25px
    transition: color .1s;
  }
}

.index-main {
  background-image: url(../images/index-main_background.png);
  background-repeat: no-repeat;
  height: 758px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 57px;
  margin-bottom: 96px;
  padding-left: 52px;

  &__heading {
    font-size: 65px;
    line-height: 125%; // 81.25px
    max-width: 434px;
    margin-bottom: 18px;
  }

  &__text {
    color: #4D5053;
    font-family: 'Jost';
    font-size: 22px;
    line-height: 150%; // 33px
    letter-spacing: 0.22px;
    margin-bottom: 21px;
    max-width: 434px;
  }

  &__link {
    display: flex;
    align-items: center;
    gap: 10px;
    width: fit-content;
    padding: 26px 49px 26px 48px;
    border-radius: 18px;
    background: $fontColorMain;
    box-shadow: 0px 10px 20px 0px rgba(192, 192, 192, 0.35);
    font-family: 'Jost';
    color: white;
    font-size: 18px;
    font-weight: 600;
    line-height: 125%; // 22.5px
    letter-spacing: 0.36px;
    transition: all .3s;
  }
}

.projects {

  &__header {
    text-align: center;
  }

  &__heading {}

  &__text {}
}