* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'DM Serif Display', serif;
  font-style: normal;
  font-weight: 400;
}

a {
  color: $fontColorMain;
  text-decoration: none;
}

.container {
  padding-left: $containerPadding;
  padding-right: $containerPadding;
}