* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'DM Serif Display', serif;
  color: $fontColorMain;
  font-style: normal;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

a {
  color: $fontColorMain;
  text-decoration: none;
}

.container {
  padding-left: $containerPadding;
  padding-right: $containerPadding;
}