$fontColorMain: #292F36;
$fontColorAdditional: #4D5053;
$brandColor: #CDA274;
$hoverAddColor: #F4F0EC;

$containerWidth: 1200px;
$containerPadding: calc(50% - $containerWidth / 2);

%textAdditional {
  color: $fontColorAdditional;
  font-family: 'Jost';
  font-size: 22px;
  line-height: 150%;
}