.results__text, .projects__category, .projects__text, .index-main__text, .header__link {
  color: #4D5053;
  font-family: "Jost";
  font-size: 22px;
  line-height: 150%;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "DM Serif Display", serif;
  color: #292F36;
  font-style: normal;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

a {
  color: #292F36;
  text-decoration: none;
}

.container {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
}
.header__homelink {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 40px;
  line-height: 125%;
}
.header__links {
  display: flex;
  gap: 48px;
}
.header__link {
  font-size: 20px;
  transition: color 0.1s;
}

.index-main {
  background-image: url(../images/index-main_background.png);
  border-radius: 50px;
  background-repeat: no-repeat;
  height: 758px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 57px;
  margin-bottom: 96px;
  padding-left: 52px;
  padding-right: 52px;
}
.index-main__heading {
  font-size: 65px;
  line-height: 125%;
  max-width: 434px;
  margin-bottom: 18px;
}
.index-main__text {
  letter-spacing: 0.22px;
  margin-bottom: 21px;
  max-width: 434px;
}
.index-main__link {
  display: flex;
  align-items: center;
  gap: 10px;
  width: -moz-fit-content;
  width: fit-content;
  padding: 26px 49px 26px 48px;
  border-radius: 18px;
  background: #292F36;
  box-shadow: 0px 10px 20px 0px rgba(192, 192, 192, 0.35);
  font-family: "Jost";
  color: white;
  font-size: 18px;
  font-weight: 600;
  line-height: 125%;
  letter-spacing: 0.36px;
  transition: all 0.3s;
}

.projects {
  margin-bottom: 96px;
}
.projects__header {
  text-align: center;
}
.projects__heading {
  font-size: 50px;
  line-height: 125%;
  letter-spacing: 1px;
}
.projects__text {
  letter-spacing: 0.22px;
  margin: 0 auto;
  max-width: 737px;
  margin-bottom: 93px;
}
.projects__content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(547px, 1fr));
  -moz-column-gap: 100px;
       column-gap: 100px;
  row-gap: 56px;
}
.projects__block {
  width: 547px;
  display: block;
}
.projects__block:first-child > img {
  border-radius: 0 80px 0 0;
}
.projects__block:nth-child(2) > img {
  border-radius: 80px 0 0 0;
}
.projects__block:nth-child(3) > img {
  border-radius: 0 0 80px 0;
}
.projects__block:last-child > img {
  border-radius: 0 0 0 80px;
}
.projects__block svg path,
.projects__block svg circle {
  transition: all 0.2s;
}
.projects__img {
  margin-bottom: 24px;
}
.projects__info {
  display: flex;
  justify-content: space-between;
}
.projects__project-name {
  font-size: 25px;
  line-height: 125%;
  letter-spacing: 0.5px;
}
.projects__category {
  letter-spacing: 0.22px;
}

.results {
  padding-top: 151px;
  padding-bottom: 151px;
  background-color: #F4F0EC;
  display: flex;
  justify-content: center;
  gap: 76px;
  margin-bottom: 96px;
}
.results__block {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: 1px solid #CDA274;
  padding-right: 56px;
}
.results__block:last-child {
  border: none;
}
.results__heading {
  color: #CDA274;
  font-size: 85px;
  line-height: 125%;
  letter-spacing: 1.7px;
}
.results__text {
  letter-spacing: 0.22px;
}

@media (any-hover: hover) {
  .header__link:hover {
    color: #CDA274;
  }
  .index-main__link:hover {
    background-color: white;
    color: #CDA274;
  }
  .projects__block:hover svg path {
    stroke: white;
  }
  .projects__block:hover svg circle {
    fill: #CDA274;
  }
}/*# sourceMappingURL=style.css.map */