.tags__tag, .blog__text, .blog__info, .post__additional, .post__text, .page-view__breadcrumb, .news__date, .news__sticker, .news__text, .results__text, .projects__category, .projects__text {
  color: #4D5053;
  font-family: "Jost";
  font-size: 22px;
  line-height: 150%;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "DM Serif Display", serif;
  color: #292F36;
  font-style: normal;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

a {
  color: #292F36;
  text-decoration: none;
}

.container {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.projects {
  margin-bottom: 96px;
}
.projects__header {
  text-align: center;
}
.projects__heading {
  font-size: 50px;
  line-height: 125%;
  letter-spacing: 1px;
}
.projects__text {
  letter-spacing: 0.22px;
  margin: 0 auto;
  max-width: 737px;
  margin-bottom: 93px;
}
.projects__content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(547px, 1fr));
  -moz-column-gap: 100px;
       column-gap: 100px;
  row-gap: 56px;
}
.projects__block {
  width: 547px;
  display: block;
}
.projects__block:first-child > img {
  border-radius: 0 80px 0 0;
}
.projects__block:nth-child(2) > img {
  border-radius: 80px 0 0 0;
}
.projects__block:nth-child(3) > img {
  border-radius: 0 0 80px 0;
}
.projects__block:last-child > img {
  border-radius: 0 0 0 80px;
}
.projects__block svg path,
.projects__block svg circle {
  transition: all 0.2s;
}
.projects__img {
  margin-bottom: 24px;
}
.projects__info {
  display: flex;
  justify-content: space-between;
}
.projects__project-name {
  font-size: 25px;
  line-height: 125%;
  letter-spacing: 0.5px;
}
.projects__category {
  letter-spacing: 0.22px;
}

.results {
  padding-top: 151px;
  padding-bottom: 151px;
  background-color: #F4F0EC;
  display: flex;
  justify-content: center;
  gap: 76px;
  margin-bottom: 96px;
}
.results__block {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: 1px solid #CDA274;
  padding-right: 56px;
}
.results__block:last-child {
  border: none;
}
.results__heading {
  color: #CDA274;
  font-size: 85px;
  line-height: 125%;
  letter-spacing: 1.7px;
}
.results__text {
  letter-spacing: 0.22px;
}

.news {
  margin-bottom: 96px;
}
.news__header {
  margin-bottom: 52px;
}
.news__heading {
  text-align: center;
  font-size: 50px;
  line-height: 125%;
  letter-spacing: 1px;
}
.news__text {
  text-align: center;
  letter-spacing: 0.22px;
  max-width: 811px;
  margin: 0 auto;
}
.news__blocks {
  display: flex;
  flex-wrap: wrap;
  gap: 27px;
}
.news__block {
  display: block;
  width: 382px;
  box-sizing: border-box;
  border: 1px solid #E7E7E7;
  border-radius: 62px;
  padding: 21px;
  box-shadow: 0px 10px 30px 0px rgba(255, 255, 255, 0.25);
  transition: background-color 0.3s;
}
.news__block svg circle {
  transition: fill 0.3s;
}
.news__picture {
  position: relative;
  margin-bottom: 21px;
}
.news__img {
  border-radius: 62px 62px 0 0;
}
.news__sticker {
  position: absolute;
  left: 20px;
  bottom: 20px;
  border: 0;
  border-radius: 8px 8px 8px 0;
  background-color: white;
  padding: 8px;
  font-size: 16px;
  letter-spacing: 0.16px;
  text-transform: capitalize;
}
.news__description {
  font-size: 25px;
  line-height: 125%;
  letter-spacing: 0.5px;
  margin-bottom: 30px;
  max-width: 305px;
}
.news__additional {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.news__date {
  font-size: 16px;
  letter-spacing: 0.16px;
  text-transform: capitalize;
}

.page-view {
  background-image: url("../images/blog-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 356px;
  margin-bottom: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
.page-view__info {
  background-color: white;
  border-radius: 37px 37px 0px 0px;
  padding: 41px 78px;
}
.page-view__heading {
  font-size: 50px;
  line-height: 125%;
}
.page-view__breadcrumbs {
  list-style: none;
  display: flex;
  justify-content: center;
}
.page-view__breadcrumb {
  letter-spacing: 0.22px;
}
.page-view__breadcrumbs li:not(:last-child)::after {
  display: inline-block;
  content: "/";
  padding-right: 8px;
}

.post {
  margin-bottom: 150px;
}
.post__heading {
  font-size: 50px;
  line-height: 125%;
  margin-bottom: 27px;
}
.post__block {
  display: flex;
  align-items: center;
  gap: 65px;
  border-radius: 62px;
  border: 1px solid #E7E7E7;
  box-shadow: 0px 10px 30px 0px rgba(255, 255, 255, 0.25);
  padding: 22px;
  transition: background-color 0.2s;
}
.post__block svg circle {
  transition: fill 0.2s;
}
.post__img {
  border-radius: 50px;
}
.post__info {
  max-width: 489px;
}
.post__title {
  font-size: 25px;
  line-height: 125%;
  letter-spacing: 0.5px;
  margin-bottom: 22px;
}
.post__text {
  letter-spacing: 0.22px;
  margin-bottom: 41px;
}
.post__additional {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.news__heading_left {
  text-align: left;
}
.news__pagination {
  margin-top: 51px;
  display: flex;
  justify-content: center;
  gap: 20px;
}
.news__page-number {
  height: 52px;
  width: 52px;
  color: #292F36;
  font-family: "Jost";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  text-transform: capitalize;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #CDA274;
  transition: background-color 0.2s;
}
.news__page-number_current {
  background-color: #F4F0EC;
  border: 0;
}
.news__page-next svg circle {
  transition: all 2s;
}

.page-view_blog-details {
  background-image: url("../images/blog-details-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 351px;
  margin-bottom: 200px;
}

.content {
  display: flex;
  gap: 52px;
  margin-bottom: 60px;
}

.blog__blog-details {
  margin-bottom: 27px;
}
.blog__heading {
  font-size: 50px;
  line-height: 125%;
  letter-spacing: 1px;
  margin-bottom: 21px;
}
.blog__img {
  border-radius: 50px;
  margin-bottom: 46px;
}
.blog__info {
  font-size: 16px;
  letter-spacing: 0.16px;
  text-transform: capitalize;
  display: flex;
  justify-content: space-between;
  margin-bottom: 48px;
}
.blog__breadcrumbs {
  list-style: none;
  display: flex;
  justify-content: center;
}
.blog__breadcrumbs li:not(:last-child)::after {
  display: inline-block;
  content: "/";
  padding-right: 8px;
  padding-left: 8px;
}
.blog__text {
  margin-bottom: 35px;
}
.blog__blockquote {
  border-radius: 50px;
  background: #F4F0EC;
  padding: 53px 227px;
  text-align: center;
}
.blog__svg-quote {
  margin: 0 auto;
  display: block;
}
.blog__quote {
  color: #CDA274;
  font-size: 25px;
  font-style: italic;
  line-height: 125%;
  letter-spacing: 0.5px;
}
.blog__quote::before, .blog__quote::after {
  content: "";
}
.blog__li::marker {
  color: #CDA274;
  font-size: 20px;
  line-height: 125%;
  letter-spacing: 0.4px;
}
.blog__list-image {
  border-radius: 50px;
  margin-bottom: 35px;
}

.tags {
  min-width: 345px;
}
.tags__heading {
  font-size: 25px;
  line-height: 125%;
  letter-spacing: 0.5px;
  margin-bottom: 24px;
}
.tags__container {
  display: flex;
  height: -moz-fit-content;
  height: fit-content;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: 10px;
}
.tags__tag {
  padding: 10px 30px;
  border-radius: 10px;
  background: #F4F0EC;
  width: -moz-max-content;
  width: max-content;
  text-align: center;
  font-size: 18px;
  line-height: 125%;
  letter-spacing: 0.36px;
  transition: all 0.2s;
  cursor: pointer;
}
.tags__tag_clicked {
  background-color: #292F36;
  color: white;
}

@media (any-hover: hover) {
  .header__link:hover {
    color: #CDA274;
  }
  .index-main__link:hover {
    background-color: white;
    color: #CDA274;
  }
  .projects__block:hover svg path {
    stroke: white;
  }
  .projects__block:hover svg circle {
    fill: #CDA274;
  }
  .news__block:hover {
    background-color: #F4F0EC;
  }
  .news__block:hover svg circle {
    fill: white;
  }
  .footer__social-link:hover svg path {
    fill: #CDA274;
  }
  .footer__page:hover {
    color: #CDA274;
  }
  .page-view__breadcrumb:hover a {
    color: #CDA274;
  }
  .post__block:hover {
    background-color: #F4F0EC;
  }
  .post__block:hover svg circle {
    fill: white;
  }
  .news__page-number:hover {
    background-color: #CDA274;
  }
  .news__page-next:hover svg circle {
    fill: #CDA274;
  }
  .blog__breadcrumb:hover a {
    color: #CDA274;
  }
  .tags__tag:hover {
    background-color: #292F36;
    color: white;
  }
}/*# sourceMappingURL=style.css.map */